<main class="main-container">
  <h1>Top recipes till {{data}}</h1>
<app-carousel></app-carousel>
  <div class="row">
    <div class="col-xs-12 col-12 ">
      <pagination #pagination
                  [totalItems]="recipes.length-1"
                  [itemsPerPage] = '12'
                  [maxSize]="6"
                  (pageChanged)="pageChanged($event)">
       class="pagination-container"
      </pagination>
    </div>
  </div>

  <div class="recipes-container">
    <app-recipe *ngFor="let recipe of recipesToRender" [recipe]="recipe"></app-recipe>
  </div>

</main>

