.main-container{
  display: flex;
  flex-direction: column;
  border-right: 2px solid var(--primary-color);
}

.main-container > h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--primary-color);
  margin: 2rem auto;
}

.main-container > div:first-of-type{
  align-self: center;
  justify-self: center;
  margin-top: 5rem;;
}

div.recipes-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 3rem 0;
}

.line-container{
  border-bottom: 2px solid var(--primary-color);
  margin: 2rem 1rem 0;
}


