header {
  height: 110px;
  position: relative;
  margin-bottom: 1rem;

}
header:before {
  position: absolute;
  content: '';
  bottom:-5px;
  right: 0;
  width: 90%;
  height:2px;
  background-color: var(--shadow-color);
  z-index: 2;
}
header:after {
  position: absolute;
  content: '';
  bottom:-15px;
  right: 0;
  width: 70%;
  height:2px;
  background-color: var(--primary-color);
  z-index: 2;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 1rem  0;
}

.header-container > div.img-container {
  width: 100px;
  /*height:*/
}

.header-container > div.img-container > img{
  width: 100px;
}



