.categories-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.categories-btn {
  background-color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
  color: var(--white-color);
  border: none;
  padding:  3px 5px;
}
