<button type="button" class="upload-btn" (click)="openModal(template)">
  <i-bs name="pencil"
        width="19"
        height="19">
  </i-bs>
  Create recipe
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Upload New Recipe</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <app-new-recipe (onCreate)="modalRef?.hide()"></app-new-recipe>
  </div>
</ng-template>
