<div *ngIf="recipe" class="recipe-details-container">
  <figure class="recipe-fig">
    <img src="{{recipe.image_url}}" alt="{{recipe.title}}" class="recipe-img"/>

    <h1 class="recipe-title">
      {{recipe.title}}
    </h1>
  </figure>

  <div class="recipe-details">
    <div class="recipe-info">

        <i-bs name="alarm"
              width="30"
              height="30"
              class="recipe-info-icon">
        </i-bs>
      <span class="recipe-info-data ">{{recipe.cooking_time}}</span>
      <span class="recipe-info-text">minutes</span>
    </div>

    <div class="recipe-info">
          <i-bs name="people"
                width="30"
                height="30"
                class="recipe-info-icon"></i-bs>

      <span class="recipe-info-data recipe-info-data--people">{{recipe.servings}}</span>
      <span class="recipe-info-text">servings</span>

      <div class="recipe-info-buttons">
        <button class="btn--tiny btn--update-servings" data-update-to="3" (click)="decrease()">
          <i-bs name="file-earmark-minus"
                width="30"
                height="30">

          </i-bs>
        </button>
        <button class="btn--tiny btn--update-servings" data-update-to="5" (click)="increase()">
          <i-bs name="file-earmark-plus"
                width="30"
                height="30">

          </i-bs>
        </button>
      </div>
    </div>

    <div class="recipe-user-generated hidden">
      <i-bs name="person"></i-bs>
    </div>

    <button class="btn--round btn--bookmark" (click)="addToBookmark()">

      <i-bs name="bookmark-fill"
            width="30"
            height="30"
            *ngIf="isBookmarked">
      </i-bs>

      <i-bs name="bookmark"
            width="30"
            height="30"
            *ngIf="!isBookmarked">
      </i-bs>
    </button>
  </div>

  <div class="recipe-ingredients">
    <h2 class="heading--2">Recipe ingredients</h2>
    <ul class="recipe-ingredient-list" >
      <li class="recipe-ingredient" *ngFor="let ing of recipe.ingredients">
        <i-bs name="check-lg"
              width="30"
              height="30"
              class="recipe-icon">

        </i-bs>
        <div class="recipe-quantity">{{ing.quantityDisplayValue}}</div>
        <div class="recipe-description">
          <span class="recipe-unit">{{ing.unit}}</span>
          {{ing.description}}
        </div>
      </li>
    </ul>
  </div>

  <div class="recipe-directions">
    <h2 class="heading--2">How to cook it</h2>
    <p class="recipe-directions-text">
      This recipe was carefully designed and tested by
      <span class="recipe-publisher">{{recipe.publisher}}.  </span>
     Please check out
      directions at their website.
    </p>
    <a class="btn--small recipe__btn" href="{{recipe.source_url}}" target="_blank">
      <span>Directions</span>
      <i-bs name="arrow-bar-right"
            width="30"
            height="30"
            class="recipe-icon" >
      </i-bs>
    </a>
  </div>

</div>
