/* You can add global styles to this file, and also import other style files */
/*MDB SCSS*/
/*@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";*/

:root{
  /*#DAA520*/
  /*#D4AF37*/
  /*#a78049*/
  --primary-color:  #DAA520;
  --secondary-color: #4b4b4b;
  --shadow-color: black;
}

* {
  box-sizing: border-box;
}

body{
  background-color: var(--secondary-color);
  padding: 0;
  margin: 0 5rem;
}

body.switched{
  background-color: white;
}

/*Pagination*/

.main-container .pagination * {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: 0 3px 5px var(--shadow-color);
  border-color: var(--shadow-color);
}
.main-container .pagination li.active .page-link {
  background-color: var(--primary-color);
  color: var(--shadow-color);
  border-color:var(--primary-color);
}

.page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

 /*Modal */
.modal-title {
  color: var(--primary-color);
  letter-spacing: 2px;
}
.modal-content  {
  width: 650px;
}

button.upload-btn {
  background-color: var(--primary-color);
  color: var(--shadow-color);
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: .5rem;
  margin: .3rem;
}

/*Switcher themes*/

.form-check {
  position: absolute;
  top: 1px;
}

.form-switch .form-check-input {
  border-radius: 0;
  width: 4em;
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color:  var(--primary-color);
}

