/* You can add global styles to this file, and also import other style files */

:root{

  --primary-color:  #DAA520;
  --secondary-color: #4b4b4b;
  --shadow-color: black;
  --white-color: white;
}

* {
  box-sizing: border-box;
}

body{
  background-color: var(--secondary-color);
  padding: 0;
  margin: 0 5rem;
}

body.switched{
  background-color: var(--white-color);
}

/*Pagination*/

.main-container .pagination * {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: 0 3px 5px var(--shadow-color);
  border-color: var(--shadow-color);
}

.main-container .pagination li.active .page-link {
  background-color: var(--primary-color);
  color: var(--shadow-color);
  border-color:var(--primary-color);
}

.page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination *.switched {
  background-color: var(--white-color);
}


 /*Modal */
.modal-title {
  color: var(--primary-color);
  letter-spacing: 2px;
}
.modal-content  {
  width: 650px;
}

button.upload-btn {
  background-color: var(--primary-color);
  color: var(--shadow-color);
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: .5rem;
  margin: .3rem;
}

/*Switcher themes*/

.form-check {
  position: absolute;
  top: 1px;
}

.form-switch .form-check-input {
  border-radius: 0;
  border: 2px solid var(--primary-color);
  width: 4em;
  padding: 0.7rem;

}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color:  var(--primary-color);
}

/*Carousel*/

mdb-carousel-item > img{
  height: 80vh;
  margin: 0 auto;
}

mdb-carousel-item > div> h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.3rem;
  color: var(--shadow-color);
}

span.switched {
  background-color: var(--shadow-color);

}

/*Dropdown */

.btn-primary:hover{
 background-color: var(--primary-color);
}

/*Bookmarks*/
.dropdown-menu{
  width: 380px;
  max-width: 380px;
}
.empty-bookmark > a {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.empty-bookmark > a > i-bs {
  align-self: center;
  color: red;
}

.empty-bookmark > a > p {
  white-space: break-spaces;
}
