<form [formGroup]="form">
  <div class="form-container">
    <div class="upload-column">

      <h3 class="upload__heading">Recipe data</h3>
      <div>
        <label>Title</label>
        <input  type="text" formControlName="title" placeholder="salad" />
      </div>
      <div>
        <label>URL</label>
        <input type="text" formControlName="sourceUrl"  placeholder="url" />
      </div>
      <div>
        <label>Image URL</label>
        <input type="text" formControlName="image"/>
      </div>
      <div>
        <label>Publisher</label>
        <input type="text" formControlName="publisher"/>
      </div>
      <div>
        <label>Prep time</label>
        <input  type="number"  formControlName="cookingTime" />
      </div>
      <div>
        <label>Servings</label>
        <input type="number" formControlName="servings"  />
      </div>

    </div>

    <div class="upload-column">

      <h3 class="upload__heading">Ingredients</h3>
      <div>
        <label>Ingredient 1</label>
        <input
          type="text"
          formControlName="ingredient1"
          placeholder="Format: 'Quantity,Unit,Description'"
        />
      </div>
      <div>
        <label>Ingredient 2</label>
        <input
          type="text"
          formControlName="ingredient2"
          placeholder="Format: 'Quantity,Unit,Description'"
        />
      </div>
      <div>
        <label>Ingredient 3</label>
        <input
          type="text"
          formControlName="ingredient3"
          placeholder="Format: 'Quantity,Unit,Description'"
        />
      </div>
      <div>
        <label>Ingredient 4</label>
        <input
          type="text"
          formControlName="ingredient4"
          placeholder="Format: 'Quantity,Unit,Description'"
        />
      </div>
      <div>
        <label>Ingredient 5</label>
        <input
          type="text"
          formControlName="ingredient5"
          placeholder="Format: 'Quantity,Unit,Description'"
        />
      </div>
      <div>
        <label>Ingredient 6</label>
        <input
          type="text"
          formControlName="ingredient6"
          placeholder="Format: 'Quantity,Unit,Description'"
        />
      </div>
    </div>
  </div>
  <div class="upload-btn-container">
    <button class="upload-btn" (click)="uploadToStorage()">Upload</button>
  </div>


</form>
